
<style type = "text/css">

.tess {
  fill: blue;
  stroke: eblue;
  stroke-width: 0px;
  opacity: 0.5;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
    
.dot {
    fill: none;
    stroke-width: 0px;
    opacity: 0;
    fill-opacity: 1;
}

.vors :hover circle {
  fill: red;
  opacity: 1;
}
   
.vors :hover text {

  opacity: 1;

}   

.hidetext {
  
  font-size: 14px;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
  opacity: 0;

}
</style>


